@page "/counter"
@using Demo.Shared

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Inject]
    protected IBUA Analytics { get; set; }

    private WeatherForecast SampleData = new WeatherForecast
    {
        Date = DateTime.Now,
        TemperatureC = 30,
        Summary = "It's a hot day"
    };

    private void IncrementCount()
    {
        currentCount++;

        // IMPORTANT: The object SampleDate are used below just as an example.
        // You must to check the correct object properties on respective Analytic tool you are using.

        // Google Analytics
        //Analytics.TrackEventGtag("event-name", "event-value", "event-category", "event-label");
        //Analytics.TrackEventGtag("event-name", SampleData);

        // Facebook
        //Analytics.TrackEventFacebookPixel("event-name", SampleData);

        // Google Tag Manager
        //Analytics.TrackEventGTM("event-name", SampleData);
    }
}
